<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cookie Practice</title>
  </head>
  <body>
    <h1>{{title}}</h1>

    <form action="/page2" method="post">
      <h3>Login:</h3>
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
      <button type="submit">Submit</button>
    </form >

  </body>
</html>
