<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Page 2</title>
  </head>
  <body>
      <h1>Users Info:</h1>
      <h3>Email: {{userInfo.email}}</h3>
      <h3>Password: {{userInfo.password}}</h3>
      <h3>ID: {{userInfo.id}}</h3>
  </body>
</html>
